<template>
	<div class="auth-layout">
		<div class="auth-card">
			<hr class="hr-book">
			<label for="email" class="frmg__mlabel">Email</label>
			<input id="email" class="frmg__input frmg__input--80" type="email" placeholder="email" name="email"  v-model="email">
			<label for="password" class="frmg__mlabel">Password</label>
			<input id="password" class="frmg__input frmg__input--80" type="password" placeholder="password" name="password"  v-model="password">
			<div style="margin: 4px 0 12px;" class="frmg__slabel">
				<input id="rmb" type="checkbox" name="remember" @change="$store.commit('toggleRememberMe')" v-model="remember" />
				<label for="rmb" style="margin-left: 8px;">
					Remember me <span style="font-weight: 500;color: #2e7b01;">
						<span v-if="remember">
							:)
						</span>
						<span v-if="!remember">
							:'(
						</span>
					</span>
				</label>
			</div>
			<hr class="hr-book">
			<div class="frmg__error" v-if="errors.length">
				<span>Incorrect authentication credentials :( please given correct data</span>
<!-- 				<div v-for="error in errors">
					<div>{{error}}</div>
				</div> -->
			</div>
			<button style="margin-top: 8px;" class="frmg__btn frmg__btn--50p frmg__btn--green" @click="sendAuth">
				Login
			</button>
		</div>
	</div>
</template>
<script>
	// remember занести в локал сторэдж шоб мы проверили это после запроса
	import axios from 'axios'
	axios.defaults.headers['Content-Type'] ='application/json';

	export default {
		name: 'Authorization',
		data(){
			return{
				email: '',
				password: '',
				remember: this.$store.state.remember,
				errors: []
			}
		},
		methods:{
			sendAuth () {
				if (this.checkForm()) {
					axios({

						headers: {
							"Content-Type" : "application/json",
							"Accept": "application/json",
						},
						method: 'POST',
						url: 'http://reader.localhost/api/login',
						data: JSON.stringify(
							{
								"email": this.email,
								"password": this.password,
								"remember": this.remember
							}
						)

					}).then( response =>  {

						// console.log(response);
						if (response.data.hasOwnProperty('api_token')) {
							this.auth(response.data.api_token);
						}else{
							this.errors.push('Введены не корректные данные');
						}

					}).catch( error => {
						// console.log(error);

						if (error && (error.response && error.response.data.hasOwnProperty('errors'))) {

							this.errors.push(error.response.data.message);
							this.errors.push(error.response.data.errors);

						}

					});
				}
			},
			checkForm () {
				this.errors = [];

				if (!this.password) {
					this.errors.push('Введите пароль.');
				}else if(!this.validPassword(this.password)){
					this.errors.push('Пароль должен содержать не меньше 8-и символов');
				}

				if (!this.email) {
					this.errors.push('Укажите электронную почту.');
				} else if (!this.validEmail(this.email)) {
					this.errors.push('Укажите корректный адрес электронной почты.');
				}

				if (this.errors.length) {
					return false;
				}

				return true;
			},
			validEmail (email) {
				var re = /^(([^<>()[\].,;:\s@"]+(.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}])|(([a-zA-Z-0-9]+.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			},
			validPassword (password) {
				if (8 <= password.length) {
					return true;
				}
				return false;
			},
			auth ($apiKey) {
				// console.log($apiKey);

				this.$store.commit('saveToken', $apiKey);
			}
		}
	}
</script>
<style scoped lang="stylus">
#app
.auth
	&-layout
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh
		width: 100%
		background-color: #f7f7f7;
	&-card
		// box-shadow: 0px 4px 4px rgba(98,101,93,0.24)
		// border-radius: 5px;
		// padding: 30px 25px;
		// display: inline-block
		// margin: 20px	
.frmg
	&__input
		background-color: #fdfdfa;
		border: 2px solid #64655d24;
		border-radius: 3px;
		&--80
			padding: 4px 12px;
			font-size: 18px	
			width: calc(80vw - 12px);
			height: 40px;
			margin 8px 0 14px
	&__btn
		padding: 8px 12px;
		height: 46px;
		border-radius: 3px;
		color: #434c29;
		font-weight: 500;
		cursor: pointer
		&--50p
			width: 50%;
		&--green
			background-color: #f1ffcc;
			border: 2px solid #a4b96b;
	&__mlabel
		cursor: pointer
		font-weight: 500
		display: block
		text-align: left;
		color: #676565
	&__slabel
		font-weight: 300;
		input,
		label
			cursor: pointer
	&__error
		padding: 4px 12px;
		width: calc(80vw - 12px);
		color #803a31
</style>