<template>
	<div class="layer-body layer-body--white"> 
		<div class="container ">
			<div class="container--flex container--layer">
				<div class="bookmarks__chapter w100 text-align--left">C</div>
				<div class="bookmarks__title w100 text-align--left">С++ and Node.js Integration</div>
				<div v-for="bookmark in bookmarks">
					<bookmark v-bind:bookmarkData="bookmark"></bookmark>
					<hr class="hr-book">
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import Bookmark from '@/components/Bookmark.vue'
	export default {
		name: 'bookmarks',
		components: {
			Bookmark
		},
		data(){
			return{
				bookmarks: this.$store.state.bookmarks
			}
		}
	}
</script>
<style scoped lang="stylus">
.container
	padding: 20px 20px
	min-height calc(100vh)
.bookmarks
	&__chapter
		font-weight: 500
		font-size: 36px
		color: #727272
		margin-bottom: 13px
		margin-top: 12px
	&__title
		font-size: 18px;
		margin-top: 12px
		margin-bottom: 12px
</style>