<template>
	<section class="home">
		<div class="container container--flex container--layer">
			<book v-for="card in books" v-bind:bookData="card">
			</book>
		</div>
	</section>
</template>
<script>
	import Book from '@/components/Book.vue'
	export default {
		name: 'books',
		components: {
			Book
		},
		data(){
			return{
				books: this.$store.state.books
			}
		}
	}
</script>
<style scoped lang="stylus">
.home
	padding: 8px 0	
</style>