<template>
	<section class="home home--read">
		<div class="container-book text-align--left">
			<!-- {{ book.id }} -->
			<!-- {{ book.title }} -->
			<div class="text-subheader">
				Структура книги
			</div>
			<hr class="hr-book">
			<div class="text-subtitle">
				В первых трех главах закладываются основы:
			</div>
			<div class="list text-align--left">
				<div class="list-pointer"><b>Глава 1 -</b> вы изучите свой первый нетривиальный алгоритм: бинарный поиск. Также здесь рассматриваются основы анализа скорости алгоритмов с применением «О -большое» . Эта запись часто используется в книге для описания относительной быстроты выполнения алгоритмов.</div>
				<div class="list-pointer"><b>Глава 2 -</b> вы познакомитесь с двумя основополагающими структурами данных: массивами и связанными списками. Эти структуры данных часто встречаются в книге и используются для создания более сложных структур данных, например хеш-таблиц (глава 5).</div>
			</div>
			<hr class="hr-book">
			<div class="block-description block-description--green">
				<div class="block-description-header">Что необходимо знать</div>
				<span>Предположим, вы ищете фамилию человека в те­лефонной книге (какая древняя технология!). Она начинается с буквы «К». Конечно, можно начать с самого начала и перелистывать страницы, пока вы не доберетесь до буквы «К». Но скорее всего для ускорения поиска лучше раскрыть книгу на середине: ведь буква «К» должна находит</span>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		name: 'readBook',
		props: {
			'id':String
		},
		created: function() {
			this.$route.meta.title = this.book.title;
		},
		data: function () {
			return {
				book : this.$store.state.books.find(x => x.id === this.id)
			}
		}
	}
</script>
<style scoped lang="stylus">
.home
	padding: 8px 0
	&--read
		min-height: 100vh
		background-color: #f5f6fc
</style>