<template>
	<section class="settings layer-body layer-body--white">
		<div class="container container--layer" style="padding: 0 20px">
			<hr class="hr-book">
			<div class="input-container">
				<div class="settings-header">Толщина основного текста</div>
				<div class="input-subcontainer">
					<vue-slider v-model="fontWeightMain" :process="false" :tooltip="'always'" :min="200" :max="700" :interval="100" >
						<template v-slot:tooltip="{ value, focus }">
							<div class="custom-tooltip" >
								<span v-bind:style="{ fontWeight : value}">
									{{ value }}
								</span>
							</div>
						</template>
					</vue-slider>
				</div>
				<span>Пример</span>
				<div class="settings-example" v-bind:style="{ fontWeight : fontWeightMain }">
					В вечернем свете волны отчаянно бились о берег.
				</div>
			</div>
			<hr class="hr-book">
			<div class="input-container">
				<div class="settings-header">Размер основного текста в px</div>
				<div class="input-subcontainer">
					<vue-slider v-model="textSize" :process="false" :tooltip="'always'" :min="14" :max="26" :interval="1" >
						<template v-slot:tooltip="{ value, focus }">
							<div class="custom-tooltip" >
								<div v-bind:style="{ fontSize : value + 'px' }">
									{{ value }}
								</div>
							</div>
						</template>
					</vue-slider>
				</div>
				<span>Пример</span>
				<div class="settings-example" v-bind:style="{ fontSize : textSize + 'px' }">
					В вечернем свете волны отчаянно бились о берег.
				</div>
			</div>
			<hr class="hr-book">
			<div class="input-container">
				<div class="settings-header">Результат</div>
				<div class="settings-example" v-bind:style="{ fontSize : textSize + 'px', fontWeight: fontWeightMain  }">
					В вечернем свете волны отчаянно бились о берег.
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	import VueSlider from 'vue-slider-component'
	import 'vue-slider-component/theme/default.css'
	export default {
		name: 'Settings',
		components: {
			VueSlider
		},
		data(){
			return{
				textSize: 17,
				fontWeightMain: 400,
			}
		}
	}
</script>
<style scoped lang="stylus">
.input
	&-container
		width: 100%
		text-align left
	&-subcontainer
		margin-top: 30px
		margin-bottom 20px
.settings
	&-header
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		color: #000000;
	&-example
		margin 15px 0
</style>
<!-- // import rangeSlider from '@/components/RangeSlider.vue' -->