@font-face {
  font-family: 'reader';
  src: url('../font/reader.eot?80302129');
  src: url('../font/reader.eot?80302129#iefix') format('embedded-opentype'),
       url('../font/reader.woff2?80302129') format('woff2'),
       url('../font/reader.woff?80302129') format('woff'),
       url('../font/reader.ttf?80302129') format('truetype'),
       url('../font/reader.svg?80302129#reader') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'reader';
    src: url('../font/reader.svg?80302129#reader') format('svg');
  }
}
*/
 
 [class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: "reader";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ico-dw:before { content: '\e800'; } /* '' */
.ico-hearth:before { content: '\e801'; } /* '' */
.ico-readme:before { content: '\e802'; } /* '' */
.ico-share:before { content: '\e803'; } /* '' */
.ico-sign:before { content: '\e804'; } /* '' */
.ico-home:before { content: '\e805'; } /* '' */
.ico-cogs:before { content: '\e806'; } /* '' */
.ico-book:before { content: '\e807'; } /* '' */
.ico-chevron-up:before { content: '\e808'; } /* '' */
.ico-bk:before { content: '\e809'; } /* '' */
.ico-pencil:before { content: '\e80a'; } /* '' */
.ico-code:before { content: '\e80b'; } /* '' */
.ico-resize-full:before { content: '\e80c'; } /* '' */
.ico-resize:before { content: '\e80d'; } /* '' */
.ico-book-o:before { content: '\e80f'; } /* '' */
.ico-times:before { content: '\e810'; } /* '' */
.ico-trash:before { content: '\e811'; } /* '' */
.ico-spin:before { content: '\e839'; } /* '' */
.ico-gplus:before { content: '\f0d5'; } /* '' */
.ico-github:before { content: '\f113'; } /* '' */
.ico-folder:before { content: '\f114'; } /* '' */
.ico-fopen:before { content: '\f115'; } /* '' */
.ico-vk:before { content: '\f189'; } /* '' */
.ico-database:before { content: '\f1c0'; } /* '' */
.ico-fcode:before { content: '\f1c9'; } /* '' */
.ico-sliders:before { content: '\f1de'; } /* '' */
.ico-server:before { content: '\f233'; } /* '' */
.ico-snote:before { content: '\f24a'; } /* '' */
.ico-pocket:before { content: '\f265'; } /* '' */
.ico-ucard:before { content: '\f2bb'; } /* '' */
.ico-userc:before { content: '\f2be'; } /* '' */
.ico-mi:before { content: '\f2d1'; } /* '' */
.ico-close:before { content: '\f2d3'; } /* '' */