<template>
	<div class="book__container" v-if="bookData.title">
		<div class="book-header__container">
			<div class="book-header__title">
				<router-link :aria-label="bookData.title" :to="{ name: 'readBook', params: { id: bookData.id }}">{{ bookData.title }}</router-link>
			</div>
			<div class="book-header__ico">
				<img alt="like this book" src="/img/icons/Hearth.svg">
			</div>
		</div>
		<div class="book-wrapper" v-if="bookData.image" v-bind:class="{ show: showDescription }">
			<div class="book-wrapper__half book-wrapper__half--image" v-touch:longtap="toggleClass" @click="toggleClass"  v-bind:style="{ backgroundImage: 'url(/img/books/' + bookData.image +')' }">
			</div>
			<div class="book-wrapper__half book-wrapper__half--right" >
				<div v-html="bookData.description">
				</div>
				<div class="book-wrapper__incons">
					<img alt="download book" src="/img/icons/download.svg">
					<router-link tag="span" :to="{ name: 'readBook', params: { id: bookData.id }}">
						<img alt="read book" src="/img/icons/readme.svg">
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Book',
	props: ['bookData'],
	data() {
		return {
			showDescription: false,
		}
	},
	methods:{
			toggleClass: function() {
				this.showDescription = !this.showDescription;
		},
	}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
	.book
		&__container
			width: calc(100% - 20px)
			margin 9px 10px
			border-radius 5px
			box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.14);
			background: #FAFDFD;
			min-height: 246px
			overflow: hidden
			@media (min-width: 460px)
				width: calc(50% - 20px)
			@media (min-width: 760px)
				width calc(33.333% - 20px)
		&-header
			&__container
				padding: 4px 5px;
				border-radius: 5px 5px 0px 0px;
				background: #DDA95C;
				display: flex
				align-items center
				overflow: hidden
			&__title
				width: calc(100% - 30px);
				font-size 19px
				height: 22px
				text-align: left
				color: #000000
				word-break: break-word;
				overflow: hidden;
				display: flex;
				justify-content: center;
				font-weight: 500;
				a
					color inherit
					text-decoration: none
					transition color 0.1s
					&:hover
						color #383737
					&:active
						color #494c27
			&__ico
				width: 30px
				height: 30px
				img
					width: inherit
					height inherit
					cursor: pointer
		&-wrapper
			display: flex
			justify-content space-between
			overflow: hidden
			position: relative
			&__half
				width: 100%
				&--image
					min-height 348px
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center
					cursor: pointer
				&--right
					opacity: 0
					transition all .2s linear
					will-change opacity, transform
					transform translateX(135%)
					position: absolute;
					background-color: #FAFDFD;
					width: 74%;
					padding 10px
					height: 95%
					display: flex
					flex-direction column
					justify-content space-between
			&.show
				.book-wrapper__half--right
					opacity 1
					transform: translateX(26.4%);
					transition all .2s linear
			&__incons
				display: flex
				justify-content flex-end
				img
					height: 30px
					margin-right: 15px
					cursor: pointer
</style>