<template>
	<div class="bookmark__body">
		<div class="bookmark__title">{{ bookmarkData.title }}</div>
		<div class="bookmark__content">
			{{ bookmarkData.content }}
		</div>
		<div class="bookmark__bottom">
			<div class="bookmark__icon bookmark__icon--del">
				<i class="ico-trash"></i> удалить
			</div>
			<router-link class="bookmark__icon bookmark__icon--go" tag="div" :to="{ name: 'readBook', params: { id: bookmarkData.book-id }}">
				перейти <i class="ico-share"></i>
			</router-link>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Bookmark',
	props: ['bookmarkData'],
	data() {
		return {
		}
	},
	methods:{
		deleteElement: function() {
		},
	}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
	.bookmark
		&__body
			min-height: 80px
			width: inherit
			padding 8px 12px 15px
			text-align: left
			background #FEFFFC
			box-shadow 0px 4px 4px rgba(98, 101, 93, 0.24)
			border-radius 10px
		&__title
			font-family: Ubuntu;
			font-weight: bold;
			font-size: 18px;
		&__content
			font-size: 12px;
			// background: rgba(243, 247, 221, 0.52)
		&__bottom
			display: flex
			justify-content: space-between;
			margin-top: 10px
		&__icon
			font-weight: 500
			background-color: rgba(38, 38, 36, 0.53)
			padding: 3px 5px
			border-radius: 3px
			display: flex
			align-items: center
			transition .15s
			cursor: pointer
			user-select: none
			&:active,
			&:focus
				box-shadow: inset 0 0 7px #000000bd;
			&:hover
				box-shadow: inset 0 0 3px black;
			&--go
				color: #EBF3BA
			&--del
				color: rgba(247, 146, 146, 0.72)
</style>