<template>
	<div>
		<header id="header">
			<div id="burger" class="header__burger--container" @click="toggleClass" v-bind:class="{ on: isActiveBurg }">
				<div class="header__burger">
					<div></div>
				</div>
			</div>
			<div class="header__title">{{ $route.meta.title }}</div>
			<div class="header__avatar">
			</div>
		</header>
		<!-- <span v-touch:swipe.left="swipeHandler">Swipe Here</span> -->

			<!--  -->
			<!--  -->
		<nav id="nav"
			v-touch:swipe.right="openNav"
			v-touch:swipe.left="disableNav" 
			v-bind:class="{ on: isActiveBurg }" 
		>
			<div class="nav__container">
				<router-link class="nav-menu__link" aria-label="Мои книги" tag="div" to="/">
					<div class="nav-menu__sub" @click="toggleClass">
						<i class="nav-menu__ico ico-book"></i><span class="nav-menu__text">Мои книги</span>
					</div>
				</router-link>
				<router-link class="nav-menu__link" tag="div" aria-label="Закладки" to="/bookmarks">
					<div class="nav-menu__sub" @click="toggleClass">
						<i class="nav-menu__ico ico-bk"></i><span class="nav-menu__text">Закладки</span>
					</div>
				</router-link>
				<router-link class="nav-menu__link" tag="div" aria-label="Настройки" to="/settings">
					<div class="nav-menu__sub" @click="toggleClass">
						<i class="nav-menu__ico ico-sliders"></i><span class="nav-menu__text">Настройки</span>
					</div>
				</router-link>
			</div>
			<div class="nav__container">
				<router-link class="nav-menu__link" tag="div" aria-label="Настройки" to="/bookmarks">
					<div class="nav-menu__sub" @click="toggleClass">
						<i class="nav-menu__ico ico-sign"></i><span class="nav-menu__text">Выход</span>
					</div>
				</router-link>
			</div>
		</nav>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				isActiveBurg: false,
			}
		},
		methods:{
			toggleClass: function() {
				this.isActiveBurg = !this.isActiveBurg;
			},
			openNav:function() {
				this.isActiveBurg = true;
			},
			disableNav: function(){
				this.isActiveBurg = false;
			}
		}
	}
</script>
<style scoped lang="stylus">
#nav
	&:after
		content ''
		position: absolute
		right -20px
		height: 100%
		width: 20px	
</style>