$menu-bg = #74756B
$light-gray = #8E8F89
$white = #FEFFFC
$light-blue = #E9F1F1
$light-green = #f3f7dd
$sideBarAnimate = transform 0.3s cubic-bezier(0.17, 0.81, 0.46, 0.76)

xs = "(max-width: 460px)";
sm = "(min-width: 460px)";
md = "(min-width: 760px)";
lg = "(min-width: 1024px)";

.container
	padding 0px 10px
	margin 0 auto
	@media (min-width: 1024px)
		width: 960px
	@media (min-width: 1200px)
		width: 1024px
	&--flex
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&--layer
		transform: translateZ(0) 
	&-book
		margin 0 auto
		padding 0px 10px
		@media sm
			padding 0px 20px
		@media md
			width: 600px
		@media lg
			width: 900px