@import '_main-rules.styl'

html
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden
	background-color: #f3f7dd
::-webkit-scrollbar
	width: 0px  /* remove scrollbar space */
	background: transparent  /* optional: just make scrollbar invisible */
::-webkit-scrollbar-thumb
	background: transparent  /* optional: just make scrollbar invisible */
// body
	// min-height: calc(100vh - 50px)
.header
	&__avatar
		background-color: #DCDCDC
		border-radius 25px
		height 30px
		width 30px
		background-image: url('../avatar.svg')
		cursor: pointer
	&__title
		font-family: Ubuntu, Roboto
		font-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 21px
		display: flex
		align-items: center
		text-align: center
		color: $white
		user-select: none
	&__burger
		position: absolute
		width: 100%
		height: 4px
		top: 50%
		right: 0px
		border-radius: 1px
		margin-top: -2px
		transition: all .2s linear
		outline none
		user-select: none
		div
			opacity: 1
			background-color: $white
			width: 100%
			height: 100%
			transform: translateZ(0)
		&::before,
		&::after
			user-select: none
			outline none
			border-radius: 1px
			display: block
			content: ''
			position: absolute
			width: 100%
			height: inherit
			background-color: $white
			will-change transform
			transition: all .2s linear
			transform: rotate(0deg) translateY(0px) translateX(0px)
		&:focus
			outline none
		&::before
			top: 8px
		&::after
			bottom: 8px
		&--container
			width 24px
			height 18px
			position: relative
			cursor: pointer
			user-select: none
			&.on
				.header__burger
					div
						opacity 0
					&::after
						transform: rotate(-45deg) translateY(5px) translateX(-6px)
					&::before
						transform: rotate(45deg) translateY(-5px) translateX(-6px)
#header
	height 50px
	display: flex
	justify-content space-between
	align-items center
	background-color: $menu-bg
	padding 0px 20px
	box-shadow 0 0px 6px #000000c9
.sticky
	&--header
		position: sticky
		top 0
		z-index: 30
#nav
	position: absolute
	background-color: $light-gray
	left 0
	top 0
	width: 50%
	height: calc(100vh - 90px)
	padding: 20px 0;
	max-width 330px
	margin-top: 50px
	will-change transform
	transform translateX(-100%)
	transition: $sideBarAnimate
	box-shadow 1px 0px 0px #0000001f
	display: flex
	flex-direction: column
	justify-content: space-between;
	@media (max-width: 460px)
		transition: transform 0.2s linear
	a
		font-weight bold
		color #2c3e50
		&.router-link-exact-active
			color #42b983
	&.on
		transform translateX(0%)
.text
	&-align
		&--left
			text-align left
.list
	padding-left 15px
	&-pointer
		position relative
		margin 8px 0px
		&:before
			content ''
			width: 8px
			height: 8px
			left -15px
			top 4px
			border-radius: 4px
			background-color rgba(100, 101, 93, 0.89)
			position: absolute
.text
	&-subtitle
		font-size: 17px
		font-weight: 500
		margin-bottom 12px
	&-subheader
		font-size: 22px
		font-weight: bold
		margin-bottom 12px
.nav
	&-link
		cursor: pointer
		transition .15s
		background-color: #64655D
		&:hover
			background-color: #606159
		&.router-link-exact-active
			background-color: #7c7d74
	&-menu
		&__link
			cursor pointer
			transition .15s
			background-color #64655D
			&:hover
				background-color: #606159
			&.router-link-exact-active
				background-color: #7c7d74
		&__sub
			min-height 50px
			margin 10px 0
			padding: 0 20px
			display flex
			justify-content end
			align-items center
		&__ico
			font-size: 34px
			color $white
			&:before
				margin-left: 0
		&__text
			color $white
			font-weight 500
			font-size: 17px
			word-break: break-word
.hr
	&-book
		border none
		height 2px
		border-radius 1px
		background-color rgba(100, 101, 93, 0.14)
.block
	&-description
		background-color: rgba(243, 246, 221, 0.6)
		padding 8px 10px 15px
		margin: 10px 0
		&-header
			font-style: normal;
			font-weight: 500;
			font-size: 17px;
			margin-bottom: 8px
.layer
	&-body
		padding 20px 0
		min-height: calc(100vh - 70px)
		&--white
			background-color: #fbfbfb
.w100
	width: 100%