<template>
	<main id="app">
		<main-header v-if="($route.path !== '/auth')" class="sticky--header"></main-header>
		<router-view/>
	</main>
</template>
<script>
	import MainHeader from './components/header.vue'
	export default{
		components:{
			MainHeader
		}
	}
</script>

<style lang="stylus">
	$menu-bg = #74756B
	$light-gray = #8E8F89
	body
		margin: 0
		position: relative
	#app
		font-family Ubuntu, Roboto, Helvetica, Arial, sans-serif
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		text-align center
		color #2c3e50
</style>
<!-- background-color: #b7d15a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23b7d15a' cx='50' cy='0' r='50'/%3E%3Cg fill='%23b0cb5a' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a8c55b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23a2bf5b' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%239bb95b' cx='50' cy='200' r='50'/%3E%3Cg fill='%2394b25a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%238eac5a' cx='50' cy='300' r='50'/%3E%3Cg fill='%2388a65a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2382a059' cx='50' cy='400' r='50'/%3E%3Cg fill='%237c9a59' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23779458' cx='50' cy='500' r='50'/%3E%3Cg fill='%23728e57' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%236d8756' cx='50' cy='600' r='50'/%3E%3Cg fill='%23688155' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23637b53' cx='50' cy='700' r='50'/%3E%3Cg fill='%235f7552' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%235b6f50' cx='50' cy='800' r='50'/%3E%3Cg fill='%2357694f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2353634d' cx='50' cy='900' r='50'/%3E%3Cg fill='%234f5d4b' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c5749' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain; -->